/* .vip-navbar {
  background: rgba(27, 38, 59, 0.8);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.vip-navbar.scrolled {
  background: rgba(27, 38, 59, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.vip-logo {
  font-weight: 700;
  color: #fff !important;
  font-size: 1.5rem;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ffba08 !important;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #ffba08;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
} */
